*, ::after, ::before {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
}

body {
	font-family: Arial,sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	margin: 0;
}

h1 {
	margin-top: 1rem;
	margin-bottom: .5rem;
	padding: .5rem 0;
	border-bottom: 2px solid #17a2b8;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
}

h2 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-size: 2rem;
	font-weight: 500;
	line-height: 1.2;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

img {
	margin-right: auto;
	margin-left: auto;
	padding: .5rem;
	margin-bottom: 1rem;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
	display: block;
	vertical-align: middle;
	border-style: none;
}

button {
	border: none;
	padding: 15px 15px;
	margin: 0.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 2px;
	color: white;
}

button:hover {
	cursor: pointer;
}

button:disabled {
	background-color: gray;
	cursor: not-allowed;
}

button:disabled:hover {
	background-color: gray;
}

.heading {
	color: #fff;
	background-color: #343a40;
	text-align: center;
	padding: 3rem;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	font-size: 5.5rem;
	font-weight: 300;
	line-height: 1.2;
}

.content {
	max-width: 1000px;
	padding: 0 15px;
	margin-right: auto;
	margin-left: auto;
	line-height: 1.5;
}

.nav-buttons {
	max-width: 330px;
	margin-right: auto;
	margin-left: auto;
	padding: 1rem;
}

.nav-buttons button {
	background-color: #17a2b8;
}

.nav-buttons button:hover {
	background-color: DimGray;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

#next {
	float: right;
}

#previous {
	float: left;
}

#rate {
	float: right;
	background-color: green;
}

#rate:hover {
	background-color: DimGray;
}

.rateUp {
	background-color: green;	
}

.rateUp:hover {
	background-color: DarkGreen;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.rateDown {
	background-color: FireBrick;
	float: right;
}

.rateDown:hover {
	background-color: DarkRed;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.articleRateBox {
	font-size: 22px;
	margin: 2rem 0;
}

.pull-right {
	float: right;
	margin-top: -1rem;
	width: 155px;
}